{% extends "layout.html" %}

{% block code %}
    
    <div class="w3-display-container w3-wide" id="home">
        <img class="w3-image w3-grayscale" src="static/images/back__ground.jpg" alt="" width="100%">
        <div class="w3-display-middle w3-padding-large">
            <h6>
            <a href="test">            
                <button class="w3-button w3-yellow w3-ripple w3-padding-large w3-large w3-wide w3-hover-opacity-off" onclick="">
                    <b>FREE TEST</b>
                </button>
            </a>           
            </h6>
        </div>  
    </div>

{% endblock %}
